<html>
<body>
    <h1>Formulario dos produtos da loja!</h1> <BR>

    <!-- <form action="/produtos/salva" method="post"> -->
    <form action="/promocoes" method="post">
      <div>
        <input type="text" name="mensagem" size="40">
      </div>
       <br>
      <div>
        <select name="livro[id]">
          <% for (var i=0; i<lista.length; i++) { %>
              <option value="<%=lista[i].id%>"> <%=lista[i].titulo%> </option>
          <% } %>
        </select>
      </div>
      <br>

      <br>
      <input type="submit" value="Cadastrar Promocao">
    </form>
</body>
</html>
